
<h1 class="text-center">Shop Floor</h1>



<div class="container-fluid">
	
	<div *ngFor="let omax of omaxs" class="row my-5">
		<div class="col-md-2 col-xs-12 text-center">
			<h2>{{ omax.omaxName }}</h2>
			<h3>{{ omax.totalRuntime | toHours}} </h3>
		
			

			



		</div>
		<div class="col-md-4 col-xs-12 px-5">
			<div class="progress align-middle bg-dark" style="height: 50px">
				<div class="progress-bar bg-success" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="150"
				[style.width.%]="(omax.totalRuntime - omax.lastTubeChange | toHours )"
				[ngClass]="{'bg-warning': (omax.totalRuntime - omax.lastTubeChange | toHours) > 80,
								'bg-danger': (omax.totalRuntime - omax.lastTubeChange | toHours) > 100}"
				
				
				>

				
				</div>

			
			</div>
			<h2>Tube: {{ omax.totalRuntime - omax.lastTubeChange | toHours }}</h2>
		</div>





		<div class="col-md-5 col-xs-12 px-5">
			<div class="progress align-middle bg-dark" style="height:50px">
				<div class="progress-bar bg-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1500"
				[style.width.%]="((omax.totalRuntime - omax.lastHeadChange) / 14 | toHours )"
				[ngClass]="{'bg-warning': (omax.totalRuntime - omax.lastHeadChange | toHours) > 1000,
							'bg-danger': (omax.totalRuntime - omax.lastHeadChange | toHours) > 1200}"
				>
			
			</div>			
		</div>
		<h2> Tete: {{ omax.totalRuntime - omax.lastHeadChange | toHours }}</h2>
	</div>
	
</div>


	<div class="container">
	
</div>